body {
    background-color: burlywood;
       
}
header {
    background-color: burlywood;
    padding: 20px;
}

p{ background-color: antiquewhite;
}

.first-paragraph {
    background-color:bisque;
}

#second-paragraph  {
    background-color: bisque;
    color: black;
    width: 600px;
    height: 200px;
    padding: 20px 10px 20px 30 px;
    margin: 50px 100px 200px 200px;

}

.main-picture{
    margin: 0 auto 0 auto;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
}


    
