@import url('https://fonts.googleapis.com/css2?family=Inter&family=Sacramento&display=swap');


html {
    font-size: 14px; 

}

@media screen and (min-widht: 700px) {
    html {
        font-size: 20px; 
    }
    
}
body {
    background-image: url('../assets/bakgrunncharlie3.png');
    /*background-color: aliceblue;
    background-size:cover;*/
    background-repeat: repeat;
    justify-content: center;
    
    
    font-family: 'Inter', cursive;
    font-size: 100 px;
    text-align: center;
    
}

.h1 {
    color: black;
    align-items: center;
    font-family: 'Sacramento', cursive;
    font-family: 'Inter', sans-serif;

}


.h2 {
    text-align: center;
    
    
}

header {
    background-color: #6DC2AE;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    height: 6rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
    height: 150%;
    top: 0px;
    z-index: 0;
    
    
    
}

@media print {
    header {
        display: none;
    }
}
header ul {
    list-style: none;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    
    
}

header nav ul li {
    color: black;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.2s;
    margin: 1rem;

    
}

header nav ul li:hover {
   text-decoration: underline;
    
}
@media  screen and (min-widht: 700px) {
    header ul {
        list-style: none;
        display: flex;
        gap: 1rem;
    }
    
}

header nav {
    display: none;
}

@media  screen and (min-width: 700px) {
    header nav {
        display: block;
    }
}

.hamburger {
    display: block;
}

@media screen and (min-width:700px) {
    .hamburger {
        display: none;
    }
    
}
    
@media screen and (max-width:300px) {
    header {
        display: block;
    }
    
}



.centered {
    width: 80%;
    
}


 
    
p { 
    background-color: #F9BDE1;
    border-radius: 10px;
    
    
}

.my-box {
     width: 100%;
     height: rem;
     position: relative;
     font-size: 2rem;
     

    }

    .inside-box {
        background-color: #F9BDE1;  
    }

    @keyframes movein {
        from {
            transform: translate(-600px);
        }

        80% {
            transform: translate(200px);
        }
         
        to {
            transform: translate(0px);
        }
    }

    .inside-box button {
        font-size: 1.2rem;
        background-color: #A8A6F7;
        padding: 0.5rem 1.2rem;
        border-radius: 1rem;
        border: none;
        margin: 1rem;
        transition: all 0.6s ease-in-out;
        transition-delay: 0.2s;

    }
    
    .inside-box button:hover {
        background-color: #f1f1f1;

    }

   

    .box-model {
        width: 40rem;
        height: 40rem;
        padding: 0.5rem;
        margin: 1.5rem auto;
        border: 0.25rem solid #A8A6F7;
        background-color: #A8A6F7;
        border-radius: 10px;
        
       
    }

    .box-model video {
        height: 90%;
        width: 100%;
    }

    .box-model-2 {
        font-size: 1.2rem;
        justify-content: space-around;
        
    }

    .flex-container {
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10rem;
        justify-content: space-evenly;
        font-family: 'Sacramento', cursive;
        font-size: 50px;
        color: aliceblue;
        text-align: relative;
        

    }

    .flex-item-charlie {
        margin: auto;
        border-radius: 10px;
        border: 0.50rem solid #A8A6F7;

    }

    .flex-item-Lily {
        margin: auto;
        border-radius: 10px;
        border: 0.50rem solid #A8A6F7;
        font-family: 'Sacramento', cursive;;
        
        
    }

    .flex-item-big-charlie {
        margin: auto;
        border-radius: 20px;
        border: 0.50rem solid #A8A6F7;
        
        

    }

    .flex-item-big-lily {
        margin: auto;
        border-radius: 20px;
        border: 0.50rem solid #A8A6F7;
    
    }

    .open button {
        
        color: rgb(193, 83, 83);
        padding: 16px 20px;
        border-radius: 10%;
        cursor: pointer;
        opacity: 0.8;
        position: fixed;
        bottom: 23px;
        right: 28px;
        width: 20px;

    }
     
    .form popup {
        display: none;
        position: fixed;
        bottom: 0;
        right: 15px;
        border: 3px solid rgb(193, 83, 83);
        z-index: 9;
    }

    .form-container {
        max-width: 300px;
        padding: 10 px;
        background-color: #F9BDE1;
        margin-bottom: 2rem;
        margin-right: 3rem;
        margin-left: 10rem;
        border-radius: 10px;
        
        
    }

    .form-container .btn {
        background-color: #A8A6F7;
        color: black;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom: 10px;
        position: relative;
        
    }

        
    

    .form-container .cancel {
        background-color: #A8A6F7 ;
    }

    
     

footer {
    background-color: #F9BDE1;
    height: 100px;
    width: 100%;
    padding: 0px;
    
}
    
    

.footer-nav {
    display: block;
}


    
.footer-nav ul {
    display: flex;
    font-size: 20px;
    justify-content: space-between;
}


 











    
