body {
    background-image: url('../assets/Bricks_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    @import url('https://fonts.googleapis.com/css2?family=Inter&family=Sacramento&display=swap');
    font-family: 'Inter', cursive;
    font-size: 100 px;
    text-align: center;
    
}

.h2 {
    text-align: center;
    
    
}

header {
    background-color: rgb(193, 83, 83);
    padding: 20px;
    position: sticky;
    width: 100%;
    display: block;
    top: 30px;
    z-index: 0;
    font-family: 'Sacramento', cursive;
    font-size: 50px;
}

p{ background-color: rgb(193, 83, 83);
}

.first-paragraph {
    background-color:6B2222;

}

#second-paragraph  {
    background-color: rgb(125, 67, 67);

    color: black;
    width: 33%;
    height: 300px;
    padding: 20px 10px 20px 30 px;
    margin: 50px 100px 200px 200px;
    

}

.main-picture{
    margin: 0 auto 0 auto;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
}

.my-box {
     width: 100%;
     height: 400px;
     
     position: relative;
     
     
}

.inside-box  {
    background-color: rgb(125, 67, 67);
    color: black;
    width: 50%;
    position: absolute;
    top: 60px;
    right: 40px;
    font-size: 32px;
    font-family: 'Peralta', cursive;
    text-align: center;

}

.sticky-box {
    display: block;
    position: fixed;
    top: 124px;
}


 











    
